<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
</head>
<body>

    <main>

        <section>

            <h1>Dog Information</h1>
            <dl>
                <% if(dogs.length == 0) { %> 
                    <small>No dogs, add one</small>
                <% } else { %>

                    <% for(let dog of dogs) { %>

                        <dt><h4><small>Name: <a href="/dogs/<%= dog._id %>"><%= dog.name %></a></small></h4></dt>
                        <dd>
                            <p>Breed: <%= dog.breed %></p>
                            <p>Speed: <%= dog.speed %></p>
                            <p>Intelligence: <%= dog.intelligence %></p>
                            <p><a href="/dogs/destroy/<%= dog._id %>">Delete this dog?</a></p>
                        </dd>
                    <% } %>
                <% } %>
            </dl>

            <a href="/dogs/new"><button>Go Create a Dog</button></a>










        </section>











    </main>
    
</body>
</html>