<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>This is the details page for <%= cat[0].name %></h1>
    <hr>
    
    <img src="/<%=cat[0].image_source%>.jpg" alt="A handful of cats">
    <hr>

    <p>fav food: <%= cat[0].food %></p>
    <hr>
    <p>age: <%= cat[0].age %></p>
    <hr>
    <p>Sleeping Spots:</p>
    <% for(var spot of cat[0].sleep) { %>
        <p><%= spot %></p>
    <% } %>
</body>
</html>